.page-id-13 {
  h1{
    display: none;
  }
}

.contact-page {

  .sup-icon-container {
    text-align: center !important;
    justify-content: center !important;
    margin-bottom: 2rem;

    .sup-icon {
      width: 200px;
      margin: auto !important;
      margin-top: 1rem !important;
      text-align: center;
      align-self: center;
      display: block;
      float: none;
    }

  }

  h3 {
    margin: 1.5rem 0 1rem 1.5rem;
    color: rgb(150,150,175);
    font-weight: 200;
    font-size: 4rem;
  }

  form {
    padding: 0 2rem 0 2rem;
  }

  label {
    display: block;
    text-align: left !important;
    margin-bottom: 20px;
    color: rgb(135,135,135);
    font-size: 1.2rem;
    font-weight: 300;
  }

  input, textarea {
    display: block;
    height: 3rem;
    border: none;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 300;
    // opacity: 0.85;
    background-color: rgb(240,240,240);
    padding-left: 0.5rem;
    margin-bottom: 1px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(200,200,200);
  }

  textarea {
    padding: 10px;
    height: 15rem;
  }

  p {
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 0.7rem;
    margin: 1px !important;
    padding: 1px !important;

  }

  .wpcf7-submit {
    border: 2px solid white;
    background-image: linear-gradient(to left, #FFAC1B, #F15F53, #EE3968, #E10B90);
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    border-radius: 100px;
    height: 3rem;
    width: 200px;
    margin-top: 0;
    margin-bottom: 1rem;
    margin-left: 0;
    padding: 0;
  }

}
