//main div
.section-footer {
  background-color: rgb(245,245,245);
  // background-image: linear-gradient(to left, #FFAC1B, #F15F53, #EE3968, #E10B90);
  padding-top: 1rem;


  width: 100%;

  .subtitle-sociaMedia {
    margin: 0 0 0 1rem;
    font-weight: 300;
    color: #4D4D4F;
    font-size: 0.9rem;
  }

  // ul
  #secondary-menu {
    display: flex;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    margin: 5px 0 1rem 0.5rem;

    .menu-item {
      list-style: none;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: 1px solid #4D4D4F;
      margin-left: 0.5rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        font-size: 1.2rem;
        margin: 1rem;
        color: #4D4D4F;
      }

      // ICONS
      a::before {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
      a[href*="http://linkedin.com"]:before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 900;
        content: "\f0e1";
      }

      a[href*="http://facebook.com"]:before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 900;
        content: "\f082";
      }

      a[href*="http://youtube.com"]:before {
        font-family: "Font Awesome 5 Brands";
        font-weight: 900;
        content: "\f167";
      }
    }

  } // #secondary-menu (ul) - END


  // Footer Stores
  .footer-stores {
    margin-top: 1rem;

    .downloadApp {
      margin: 0 0 0 1rem;
      font-weight: 300;
      color: #4D4D4F;
      font-size: 0.9rem;
    }

    .stores-logos-container {
      margin: 0 0 0 1rem;

      .logo-stores {
        max-width: 30%;
        margin-top: 5px;
      }
    }
  } // footer-stores - END


  // Footer Logo
  .footer-info {
    margin: 3rem 0 3rem 1rem;


    .logo-footer {
      max-width: 90%;
    }

    .footer-location {
      font-weight: 300;
      color: #4D4D4F;
    }
  }


  // Footer Rodape
  .footer-rodape {
    text-align: right;
    background-image: linear-gradient(to right, #FFAC1B, #F15F53, #EE3968, #E10B90);
    padding: 0.5rem ;

    .rodape-text {
      font-weight: 300;
      color: white;
      margin: 0;
    }

    .copyright {
      font-weight: 400;
      font-size: 0.8rem;
    }

    .footer-location {
      font-weight: 300;
      font-size: 0.7rem;
    }



  }

  // Hided Elements
  .balloonIcon {
    display: none;
  }


  @media screen and (min-width: 500px) {

    .wrapper {
      background-color: rgb(245,245,245);
    }

    .balloonIcon-box {
      max-width: 35%;
      padding: 1rem;
      justify-self: center;
      float: left;
      box-sizing: border-box;
      background-color: rgb(245,245,245);
      height: 600px;

        .balloonIcon {
          display: block;
          max-width: 90%;
        }
    }

    .fallback-wrapper {
      width: 65%;
      height: 600px;
      float: left;
      box-sizing: border-box;
      padding: 1rem;
      background-color: rgb(245,245,245);
    }

    .footer-rodape {
      height: 50px;
      float: left;
      width: 100%;
      box-sizing: border-box;
    }


    @supports (display: grid) {
      .balloonIcon-box, .fallback-wrapper, .footer-rodape, {
        float: none;
        width: auto;
        height: auto;
      }


      .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .balloonIcon-box{
          grid-column: 1 / 2;
          max-width: 100%;
          padding: 1rem;
          text-align: right;

          .balloonIcon {
            display: block;
            max-width: 60%;
            margin: auto;
          }

        }
        .fallback-wrapper{

          padding: 0;

          .footer-socialMedia  {
            grid-column: 2 / 3;
          }

          .footer-stores {
            grid-column: 2 / 3;
            margin-top: 2rem;
          }

          .footer-info {
            grid-column: 2 / 3;
            margin: 4rem 0 4rem 0.45rem;
          }
        }



      } //section-footer END
    } // Support END


  } //End Media Screen

} //section-footer - END - Mobile
