body
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
footer
{
}
footer .container
{
    width: 75%;
    margin: 0 auto;

    overflow: auto;
}
footer .container section
{
    float: left;
    width: 50%;
    padding-top: 40px;

}
footer .container section .section-top input
{

    width: 220px;
    padding: 8px 16px;
    border: none;
    border: 1px solid #efefef;
}
footer .container section .section-top button
{
    font-weight: 600;
    width: 80px;
    padding: 8px 16px;
    color: white;
    border: 3px solid #efefef;
    background-color: purple;
    border: none;
    border: 1px solid #efefef;
}
footer .container section .section-bottom
{
    margin-top: 100px;
}
footer .container section .section-bottom .logo-section
{
   width: 100%;
    clear: both;
}
footer .container section .section-bottom .logo-section .logo
{
   width: 42px;
    float: left;
    padding: 5px;
     background-image: linear-gradient(to left,#FFAC1B,#E10B90);
    height: 42px;
}
footer .container section .section-bottom .logo-section .logo img
{
width: 100%;
width: 100%;
}
.rainbow {

  background-image: -webkit-gradient( linear, left top, right top, color-stop(0.5, #FFAC1B), color-stop(0.15, #E10B90));
  background-image: gradient( linear, left top, right top, color-stop(0, #FFAC1B), color-stop(0.15, #E10B90));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
footer .container section .section-bottom .logo-section p
{
  float:left;
    padding: 0px;
    margin: 0px;
    width: 80%;
    margin-bottom:50px;
    padding-top: 0px;
    font-size: 45px;
    margin-left: 10px;
    color: linear-gradient(to left,#FFAC1B,#E10B90);
}
footer .container section .heading
{
 font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}
.text
{
    clear: both;
    font-size: 22px;
    font-weight: bold;

}
.text p
{
    width: 100%;
}
.text p img
{
    width: 30%;
    margin: 5px;
}
footer .container section ul
{
list-style: none;
    padding: 0;
    margin: 2px;

}
footer .container section li
{
list-style: none;
    padding: 0;
    margin: 0px;
    float: left;
    margin: 10px 5px;
}
footer .container section li img
{
width: 32px;
}
footer .bottom-container
{
    padding: 12px 0px;
overflow: auto;
    background-image: linear-gradient(to left,#FFAC1B,#E10B90);

}
footer .bottom-container section
{
    width: 50%;
    float: left;
}
footer .bottom-container section ul
{
list-style: none;
    padding: 0;
    margin: 0px;
    width: 38%;
    overflow: auto;
    margin:0 auto;
    background-color: aliceblue;
    clear: both;
}
footer .bottom-container section li
{
list-style: none;
    padding: 0;
    margin: 0px;
    float: left;
    margin: 10px 5px;
    font-weight: 600;
}

footer .bottom-container section li img
{
width: 32px;
}
footer .bottom-container section p
{
    text-align: center;
    background-color: aliceblue;
    width: 45%;
    margin: 0 auto;
    margin-top: 10px;
clear: both;
}
