.site-header {
  color: $main_menu_color;
  // background-image: linear-gradient(to left, #FFAC1B,#F15F53,#EE3968, #E10B90);
  background-image: $brand_gradient;
  height: 80vh;
  margin: auto;


  .main-navigation {

    .menu {
      list-style-type: 0;
      padding-left: 0;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: $main_menu_color;
      }

    }

  }

  .header-container {
    margin-top: 100px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    color: $site_name_color;
  }

  .logo-container {
    text-align: center;

    .logo-image {
      width: 30%;
      margin: auto;
    }
  }

  .content {
    text-align: center;
  }

  .download-app {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .label {
      align-self: center;
    }

    img {
      max-width: 100px;
    }

    @media screen and (min-width: 500px) {
      flex-direction: row;
    }
  }

  .icons{
    display: flex;
    justify-content: center;
  }

}
