.section-feedback {

  h1 {
    text-align: center;
    flex-basis: 100%;
  }




  .wrapper {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

  span {
    display: block;
  }



    // AWESOME BOX
    .awesomeBox {
      background-color: rgb(250,250,250);
      max-width: 50%;
      margin-right: 5px;
      padding: 2rem;
      box-sizing: border-box;

      .border {
        background-image: linear-gradient(to left, #E10B90, #FFAC1B);
        padding: 1px;
        border-radius: 15px;
      }

      .awesomeInternalBox {
        background-color: white;
        border-radius: 15px;
        padding: 10px;
      }

      .initials {
        float: left;
        border: 1px solid #E10B90;
        border-radius: 100%;
        font-size: 2rem;
        padding: 1.5rem;
        margin: 10px;
      }

      .clearfix::after {
          content: "";
          clear: both;
          display: table;
      }

      .userInfo {
        text-align: left;
        padding-top: 15px;

        .name {
          font-weight: 600;
          font-size: 1.5rem;
        }

        .titleCompany{
          font-weight: 400;
          color: rgb(80,80,80);
          font-size: 1rem;
        }

        .date {
          font-weight: 400;
          font-size: 0.8rem;
          margin-top: 0.5rem;
          color: rgb(80,80,80);
        }
      }

      .bar {
        width: 100%;
        background-color: rgb(240,240,240);
        border-top: 1px solid rgb(230,230,230);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: 1rem;

        .type {
          display: inline-block;
          padding: 0.5rem;
          color: rgb(80,80,80);
          font-size: 1.2rem;
          flex-grow: 1;
        }

        .reply {
          color: rgb(80,80,80);
          margin-right: 0.5rem;
        }

        .favorite {
          color: rgb(80,80,80);
          margin-right: 0.5rem;
        }

      }

      .bottomInfo {
        p {
          line-height: 1.5;
          padding: 0.5rem;
          .break {
            display: block;
          }

          .break1 {
            margin-bottom: 1rem;
            margin-top: 1rem;
          }

          .break:nth-of-type(3) {
            margin-top: 0.5rem;
            font-weight: 600;
          }
        }

      }

    } //.awesome END


    // REVISE
    .reviseBox {
      background-color: rgb(250,250,250);
      max-width: 50%;
      padding: 1rem;
      box-sizing: border-box;

      .border {
        background-image: linear-gradient(to left, #4D4D4D, #CCCCCC);
        padding: 1px;
        border-radius: 15px;
      }

      .awesomeInternalBox {
        background-color: white;
        border-radius: 15px;
        padding: 10px;
      }

      .initials {
        float: left;
        border: 1px solid #4D4D4D;
        border-radius: 100%;
        font-size: 2rem;
        padding: 1.5rem;
        margin: 10px;
      }

      .clearfix::after {
          content: "";
          clear: both;
          display: table;
      }

      .userInfo {
        text-align: left;
        padding-top: 15px;

        .name {
          font-weight: 600;
          font-size: 1.5rem;
        }

        .titleCompany{
          font-weight: 400;
          color: rgb(80,80,80);
          font-size: 1rem;
        }

        .date {
          font-weight: 400;
          font-size: 0.8rem;
          margin-top: 0.5rem;
          color: rgb(80,80,80);
        }
      }

      .bar {
        width: 100%;
        background-color: rgb(240,240,240);
        border-top: 1px solid rgb(230,230,230);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-top: 1rem;

        .type {
          display: inline-block;
          padding: 0.5rem;
          color: rgb(80,80,80);
          font-size: 1.2rem;
          flex-grow: 1;
        }

        .reply {
          color: rgb(80,80,80);
          margin-right: 0.5rem;
        }

        .favorite {
          color: rgb(80,80,80);
          margin-right: 0.5rem;
        }

      }

      .bottomInfo {
        p {
          line-height: 1.5;
          padding: 0.5rem;
          .break {
            display: block;
          }

          .break1 {
            margin-bottom: 1rem;
            margin-top: 1rem;
          }

          .break:nth-of-type(3) {
            margin-top: 0.5rem;
            font-weight: 600;
          }
        }

      }



    } //REVISE END

  } // .wrapper END
} // .section-feedback END
